<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <img src="images/logotgifhome.jpg" class="logo">
            </div>
            <div class="align-self-center">
                <img src="images/mail-icon.png">
                <a href="mailto:info@tgif.net "><strong>info@tgif.net</strong></a>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-sm border border-dark nav-background">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="home.html"><strong>Home</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <!--dropdown-toggle en class para la flecha-->
                        <strong>Congress 113</strong>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item active text-dark" href="house-data.html"><strong>House</strong></a>
                        <a class="dropdown-item text-dark" href="senate-data.html"><strong>Senate</strong></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <!--dropdown-toggle en class para la flecha-->
                        <strong>Attendance</strong>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-dark" href="house-attendance.html"><strong>House</strong></a>
                        <a class="dropdown-item text-dark" href="senate-attendance.html"><strong>Senate</strong></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <!--dropdown-toggle en class para la flecha-->
                        <strong>Party Loyalty</strong>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-dark" href="house-party-loyalty.html"><strong>House</strong></a>
                        <a class="dropdown-item text-dark" href="senate-party-loyalty.html"><strong>Senate</strong></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container margin">
        <h1>Congressmen</h1>
        <div class="w-50">
            <p class="indent">The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate
                re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect
                the U.S. President in case there is no majority in the Electoral College. Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <div class="align-self-center checkbox_margin">
                    <strong>Filter by Party:</strong>
                </div>
                <form>
                    <div class="form-check form-check-inline align-self-center checkbox_margin">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="R">
                        <label class="form-check-label">Republican</label>
                    </div>
                    <div class="form-check form-check-inline align-self-center checkbox_margin">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="D">
                        <label class="form-check-label">Democrat</label>
                    </div>
                    <div class="form-check form-check-inline align-self-center checkbox_margin">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="I">
                        <label class="form-check-label">Independent</label>
                    </div>
                </form>
            </div>
            <div class="checkbox_margin d-flex">
                <div class="align-self-center margin1">
                    <strong>Filter by State: </strong>
                </div>
                <div id="app1">
                    <select v-model="selected" v-on:click="cambio()">
                        <option v-for="(state, index) in states" :value="state">{{ state }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="loader4"></div>
        <div id="message4">Loading...</div>
        <div id="loaded1">
            <div id="app" class="table-responsive">
                <table class='table text-center'>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Party</th>
                            <th>State</th>
                            <th>Seniority</th>
                            <th>Percentage of votes with party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in member">
                            <td><a v-bind:href="value.url">{{value.first_name}} {{value.middle_name}}
                                    {{value.last_name}}</a></td>
                            <td>{{value.party}}</td>
                            <td>{{value.state}}</td>
                            <td>{{value.seniority}}</td>
                            <td>{{value.votes_with_party_pct}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="container footer_margin">
        <div class="text-center border border-dark nav-background ">
            <p class="p_margin "><strong>@ 2016 TGIF | All Rights Reserved</strong></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script type="text/javascript " src="pro-congress-113-house.js"></script> -->
    <script type="text/javascript " src="./scripts/table-data.js "></script>
</body>

</html>